
.dis-name{
    color: black; 
    font-family: 'Satisfy', cursive;
    margin-top: 30px;
    font-size: 100px;
}

.discription{
    
    width: 90%;
    height: 490px;
    margin-left: 65px;
    margin-top: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(41, 43, 43);
}


#place{
    /*border: 1px solid yellow;*/
    width: 60%;
    height: 490px;
    float: left;
}

#map{
    /*border: 1px solid red;*/
    width: 40%;
    height:490px;
    float: left;
}
#map iframe{
	display: block;
	float: right;
	width: 450px;
	height: 450px;
    margin-right: 13px;
    margin-top: 13px;
}

.discription-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
.discription-text{
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
}
#dis-para{
    /*border: 1px solid black;*/
    width: 95%;
    height: 80%;
    margin-left: 20px;
}
#more-details-button{
    /*border: 1px solid red;*/
    width: 95%;
    height: 20%;
    margin-left: 20px;
}

.discription-button {
    border-radius: 4px;
    background-color: #2860da;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 19px;
    padding: 10px;
    width: 95px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .discription-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .discription-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .discription-button:hover span {
    padding-right: 25px;
  }
  
  .discription-button:hover span:after {
    opacity: 1;
    right: 0;
  }
 
.wadana{
    /*border: 1px solid green;*/
    width: 95%;
    height: 350px;
    margin-left: 30px;
}
#wadana-uda{
    /*border: 1px solid red;*/
    width: 100%;
    height: 250px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(41, 43, 43);
    font-size: 20px;
    text-align: center;
}
#wadana-button{
    /*border: 1px solid green;*/
    width: 100%;
    height: 100px;
}
#district-more{
    margin-left: 43%;
}

.best-place{
    /*border: 1px solid yellow;*/
    width: 65%;
    height: 75px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-left: 55px;
    margin-top: 10px;
}
#district-visite{
    /*border: 1px solid red;*/
    width: 40%;
    height: 75px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-left:  55px;
}

.photo_coll{
    /*border: 1px solid yellow;*/
    width: 80%;
    height: 55px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: -12px;
}