body{
    font-family: Arial, Helvetica, sans-serif; 
   /* background: #2f302fda; */ 
}
.header
{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.video-background
{
     position: fixed;
     right: 0;
     bottom: 0;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -1;
     
}
.imgal{
    text-align: center;
    color: white;
    margin: 30px 10px 20px;
    text-shadow: 2px 2px 5px red;
    font-size: 40px;
    /*border: 1px solid red;*/
}
.imgal-text
{
    margin-bottom: auto;
    text-align: center;
    color: white;
    margin: auto;
    text-shadow: 2px 2px 4px #000000;
}
.gallery
{
    margin: 10px 100px;
    margin-top: 40px;
    word-spacing: 6px;
   /* border: 3px solid red; */
}
.gallery img
{
    margin-left: 16px;
    left:0;
    bottom:0;
    width: 300px;
    height: 200px;
    padding: 2px;
    transition: 1s;
    box-shadow: 0 2px 3px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(7, 0, 0);
    
}
.gallery img:hover
{
    transform: scale(1.1);
}
.alert
{
    background-color: white;
    border: none;
}
.left
{
    float: left;
    padding-left: 30px;
    
}

.right
{
    float: right;
    padding-right: 30px;
    margin-top: 20px;
}
.sizes
{
    
    width: 100px;
    height: 100px;
}


