
.note01{
    /*border: 1px solid black;*/
    width: 100%;
    height: 550px;
}

#uda-titel{
    font-family: 'Ubuntu', sans-serif; 
    font-size: 35px;
    margin-bottom: 50px;
}

.note02{
    /*border: 1px solid yellow;*/
    width: 32%;
    height: 450px;
    float: left;
}

.note03{
    /*border: 1px solid yellow;*/
    width: 68%;
    height: 450px;
    float: left;
}

.note02_2 {
    /*border: 1px solid red;*/ 
    overflow: hidden;
    margin-top: 8px;
    min-width: 240px;
    max-width: 320px;
    margin-left: 80px;
  
  }
  
  .note02_2 img {
    transition: all 0.3s;
    box-sizing: border-box;
    max-width: 100%;
  }
  
  .note02_2:hover img {
    transform: scale(1.3) rotate(5deg);
  }

  #srilanka{
    font-family: 'Satisfy', cursive;
    font-size: 54px;
    margin-top: 20px;
  }
#srilanka_con{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
#srilanka_con-1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}

.note04{
    /*border: 1px solid blue;*/
    width: 100%;
    height: 800px;
}

.ytvideo-card{
    
  width: 98%;
  height: 400px;
  margin-left: 12px;
  margin-top: 30px;
  border-radius: 25px;
  box-shadow: 5px 16px 20px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  background-color: rgba(239, 240, 240, 0.8);
  color: rgb(41, 43, 43);
  border: 1px solid rgb(190, 190, 190);
}

.ytvideo{
  padding-top: 30px;
  padding-left: 45px;
  /*border: 1px solid red;*/
  width: 50%;
  height: 100%;
  float: left;
}
#yt-dis-topic{
  font-family: 'Satisfy', cursive;
  font-size: 45px;
}
.ytvideo-dis{
  float: left;
  height: 100%;
  width: 50%;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  /*border: 1px solid blue;*/
  padding-top: 50px;
}